<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net452" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
</packages>